@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;  /*vh: altura total*/
    width: 100vw;   /*vw: lagura total*/
    background-color: black;
}

body{
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /*para cobrir a tela inteira*/
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative; /*permite movimentar*/
    
}


section#telefone {
    position: absolute; /*permite se movimentar*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*permite adicinar o que vc deseja no cento*/

    height: 627px;
    width: 311px;
    background: url(pacote-d013/imagens/frame-iphone.png) no-repeat;
}

iframe#tela{

    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#sociais {
    text-align: right;
}


section#sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;  /*faz com que há uma borda interna no proprio conteudo */
    
}

section#sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.51);
    transform: translate(-3px, -1px);  /*permite movimentar o link*/
    border: 4px 4px 10px rgba(0, 0, 0, 0.521);
    transition: transform .5s, border .2s;      /*permite movimentar o link em meio segundo pra parecer mais fluido*/
}



