@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: brown;  /* cores do link  */
    text-decoration: none;  /* tirar sublinhado  */
    font-weight: bold;
}

a:visited{
    color: darkred;  /*para links visitados ficarem nessa cor */
}

a:hover{
    text-decoration: underline;  /* quando passar o mouse em cima fica sublinhado  */
}

a:active{
    color: blue;   /* quando clico no link  */
}

.especial{
    background-color: rgb(237, 185, 185);
}

.especial::before{     /* adicionar emote antes o link  */
    content: ' ⇒';
}

.especial::after{   /* adicionar emote depois do link  */
    content: ' ⇐';
}