@charset "UTF-8";

.wrapper div {
    background-color: royalblue;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(200px, auto));   /* altura */  /* a altura minima seria de 200px e a maxima automatica */
    grid-gap: 1rem;  /*espaço entre as linhas*/

    @media(min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
        
    }
    
}

.wrapper div:nth-child(even) {
    background-color: skyblue;
}

#um {
    grid-column: 1 / -1;  /* define o quanto de grades vai usar*/
    height: 270px;
}

#dois {
    grid-column: 1;  /* define o quanto de grades vai usar*/
    
}

#tres {
    @media(min-width: 768px){
        grid-column: 2 / 5;
    }
        
    
}

#quatro {
    

}

#cinco {
    grid-column: 1 / -1;
}