@charset "UTF-8";

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: blue;
}

h2{
    color: blue;
}

p{
    color: blue;
    text-align: justify;
}
